
.navigation .button-dropdown {
    position: relative;
}
.dropdown-toggle::after{
    display: none;
}

.navigation li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: lightgray;
}

.navigation li a:hover, .navigation li a.dropdown-toggle.active {
    background-color: lightgray;
    color: #fff;
}

.navigation li a:hover span, .navigation li a.dropdown-toggle.active span {
    background-color: lightgray;
    color: #fff;
}

.navigation li .dropdown-menu {
    display: none;
    position: absolute;
    left: -22px;
    max-width: 95px;
    padding: 0;
    margin-top: 3px;
    text-align: right;
    background-color: transparent;
    border: none;
}

.navigation li .dropdown-menu.active {
    display: block;
}


.navigation li .dropdown-menu a {
    width: 150px;
    margin-left: 4px;
    margin-right: 4px;
}